html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
p {
  position: relative;
  text-align: center;
  top: 50%;
}
/* 
Color Palette:
black
#654668
#587D71
#4DAA57
#B5DDA4
#F9ECCC
*/

.home {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 10%;
  line-height: 250%;
  font-size: 25px;
  text-align: center;
  background-color: #B5DDA4;
}

.link1 {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 45%;
  line-height: 250%;
  font-size: 25px;
  text-align: center;
  background-color: #4DAA57;
}

.link2 {
  position: absolute;
  top: 0%;
  left: 55%;
  width: 45%;
  line-height: 250%;
  font-size: 25px;
  text-align: center;
  background-color: #B5DDA4;
}


.home:hover { background-color: #754668; }
.link1:hover { background-color: #754668; }
.link2:hover { background-color: #754668; }